<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryManagementConnection" connectionString="mongodb://librarymanagement:m7Bejgze4EKWiZJEu6cCc01lA3zY0tg1xCNZ8gcILkawKlNhbsQfTWOuk8DzejgcZHkx1OPObPZQhws8mgDUQA==@librarymanagement.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb" />
    <add name="LibraryDatabase" connectionString="LibraryManagementSystem" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>