<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LibraryManagementConnection" connectionString ="mongodb://librarymanagement:m7Bejgze4EKWiZJEu6cCc01lA3zY0tg1xCNZ8gcILkawKlNhbsQfTWOuk8DzejgcZHkx1OPObPZQhws8mgDUQA==@librarymanagement.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb" />
    <add name="LibraryDatabase" connectionString="LibraryManagementSystem"/>
  </connectionStrings>
</configuration>